.hidden {
  display: none;
}

button {
  margin: 1rem;
  padding: 0.25rem;
  background-color: black;
  color: white;
  border-radius: 10%;
}

.container {
  margin: 2rem auto;
  text-align: center;
  background-color: pink;
  width: 250px;
  border: 3px solid gray;
  border-radius: 10%;
}
